* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 300;
    width: 100%;
    max-width: 100vw;
}

main {}

/* || HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15)2px 2px 2.5px;
    padding: 0 1em;
}

.logo {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 100px 150px;
}

h1 {
    font-size: 18px;
    max-width: 100%;
}

.logo-svg {
    grid-row: 1 / 3;
    overflow: visible;
}

.logo-ar {
    justify-self: start;
    align-self: end;
    margin: -7px 0;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    gap: .5rem;

    ul>li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul>li:hover {
        text-decoration: underline;
    }

    .links {
        display: none;
    }
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {}

.filters ul {
    gap: .5rem;
}

body,
button,
input {
    text-transform: uppercase;
}

img {
    width: 100%;
    margin-bottom: 1em;
}

.buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: baseline;
    gap: .3em;

    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: 800;
    height: 4em;
    background-color: white;
    border: none;

    svg {
        height: 2em;
    }
}

button.button-members,
button.button-venues,
button.button-language {
    display: none;
}

button.button-tickets {
    display: none;
    padding: 1em;
    background-color: yellow;
    border: 1px solid black;
    transition: .15s ease-in-out;
}

button.button-tickets:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(4, min-content);
    grid-auto-rows: 0;
} */

ul.gallery {
    display: block;
    column-width: clamp(150px, 300px, 15vw)
}

.filters {
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;

    li>button {
        display: block;
        padding: 1rem;
        background-color: grey;
        min-width: 8rem;
        color: white;
        border: none;
        position: relative;
    }

    input[type=search] {
        padding: .5rem;
        font-size: clamp(1rem, 1.5rem, 2rem);
        width: 30rem;
        max-width: 100%;
        border: none;
    }

    input[type=search]:active, input[type=search]:focus {
        border: none;
        outline: none;
    }

    form {
        background-color: white;
        border: 1px solid black;

        display: flex;
        flex-direction: row;
        align-items: center;

        max-width: 100%;
      }

      button.button-search {
        background-color: white;
        border: none;
        padding: .5rem;
      }
}

*:lang(ar) {
    font-family: "Cairo", sans-serif;
    font-weight: 800;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

@media screen and (min-width: 500px) {
    button.button-tickets {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    nav {
        .button-members,
        .button-venues,
        .button-language {
            display: flex;
        }

        li {
            padding: .5rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    nav {
        .links {
            display: flex;
            gap: .5rem;
        }
    }
}

/* "CSS HEEFT HIER DINGEN VOOR?" - KRIJN 
Multi-column layout*/